section {
	padding: 5% 15%;
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	min-height: 70vh;

	position: relative;

	> figure {
		flex-basis: 20%;
		flex-grow: 1;
		position: relative;
		height: 40vh;

		overflow: hidden;

		border-radius: 5px;

		img {
			display: block;
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			transition: all 1s ease;
			&:hover {
				transform: rotateZ(30deg) scale(2);
				-webkit-filter: blur(3px);
				filter: blur(3px);
			}
		}

		figcaption {
			position: absolute;
			bottom: -50px;
			text-align: center;
			right: 0;
			left: 0;
			padding: 1.2rem 0;
			background-color: $primary;
			//  mix-blend-mode: multiply;
			visibility: hidden;
			transition: $transition;
			opacity: 0;
		}

		&:hover figcaption {
			bottom: 0px;
			visibility: visible;
			opacity: 1;
		}
	}

	:nth-child(odd) {
		align-self: flex-start;
	}
	:nth-child(even) {
		align-self: flex-end;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 50%;
		left: 0;
		right: 0;
		background-color: $primary;
		z-index: -2;
	}
}

main {
	padding: 5% 15%;
	display: flex;
	flex-wrap: wrap;
	gap: 5rem;

	> div:first-child {
		flex-basis: 30%;
		flex-grow: 1;

		form {
			display: flex;
			> input {
				border: 2px solid $primary;
				outline: none;
				padding: 0.5rem;
				margin-top: 1rem;
				transition: $transition;

				&[type='email'] {
					background-color: lighten($font-color, 75%);
					&:focus {
						background-color: lighten($primary, 25%);
					}
				}

				&[type='submit'] {
					background-color: $primary;
					padding: 0.5rem 2rem;
					margin-left: -2px;
					text-transform: capitalize;
					font-family: $font-fam;
					font-size: 1.2rem;
					cursor: pointer;
					&:hover {
						background-color: darken($primary, 5%);
					}
				}
			}
		}
	}
}
