// variables
$primary: #ffc400;
$font-fam: "Poor Story", sans-serif;
$font-color: #333;

$transition: all .3s ease-in-out;

$break-xsmall: 600px;
$break-small: 650px;
$break-medium: 800px;
$break-large: 950px;
$break-xlarge: 1280px;
